<div class="carousel">
    <input type="radio" name="carousel" id="1" checked="checked" class="carousel__activator">
    <input type="radio" name="carousel" id="2" class="carousel__activator">
    <input type="radio" name="carousel" id="3" class="carousel__activator">
    <input type="radio" name="carousel" id="4" class="carousel__activator">
    <input type="radio" name="carousel" id="5" class="carousel__activator">
    <div class="carousel__controls">
        <label for="5" class="carousel__control carousel__control--previous"></label>
        <label for="2" class="carousel__control carousel__control--next"></label>
    </div>
    <div class="carousel__controls">
        <label for="1" class="carousel__control carousel__control--previous"></label>
        <label for="3" class="carousel__control carousel__control--next"></label>
    </div>
    <div class="carousel__controls">
        <label for="2" class="carousel__control carousel__control--previous"></label>
        <label for="4" class="carousel__control carousel__control--next"></label>
    </div>
    <div class="carousel__controls">
        <label for="3" class="carousel__control carousel__control--previous"></label>
        <label for="5" class="carousel__control carousel__control--next"></label>
    </div>
    <div class="carousel__controls">
        <label for="4" class="carousel__control carousel__control--previous"></label>
        <label for="1" class="carousel__control carousel__control--next"></label>
    </div>
    <div class="carousel__track">
        <div class="carousel__slide">
            <div>
                {{!-- <h1>Main Title</h1>
                <p>A slide description</p> --}}
            </div>
            <img src="https://i0.wp.com/www.pcgamespunch.com/wp-content/uploads/2013/09/Call-of-Duty-Black-OPS-Compressed.jpg?zoom=2&resize=324%2C160"
                loading="lazy">
        </div>
        <div class="carousel__slide">
            <div>
                {{!-- <h1>Main Title</h1>
                <p>A slide description</p> --}}
            </div>
            <img src="https://i0.wp.com/www.pcgamespunch.com/wp-content/uploads/2013/09/Hitman-2.jpg?zoom=2&resize=324%2C160"
                loading="lazy">
        </div>
        <div class="carousel__slide">
            <div>
                {{!-- <h1>Main Title</h1>
                <p>A slide description</p> --}}
            </div>
            <img class="img3"
                src="https://i0.wp.com/www.pcgamespunch.com/wp-content/uploads/2013/09/Fast-Furious-Showdown.jpg?zoom=2&resize=324%2C160"
                loading="lazy">
        </div>
        <div class="carousel__slide">
            <div>
                {{!-- <h1>Main Title</h1>
                <p>A slide description</p> --}}
            </div>
            <img src="https://i0.wp.com/www.pcgamespunch.com/wp-content/uploads/2017/10/Freedom-Fighters-7.jpg?zoom=2&resize=324%2C160"
                loading="lazy">
        </div>
        <div class="carousel__slide">
            <div>
                {{!-- <h1>Main Title</h1>
                <p>A slide description</p> --}}
            </div>
            <img class="img5"
                src="https://i0.wp.com/www.pcgamespunch.com/wp-content/uploads/2015/07/maxresdefault.jpg?zoom=2&resize=324%2C160"
                loading="lazy">
        </div>
    </div>
    <div class="carousel__indicators">
        <label for="1" class="carousel__indicator"></label>
        <label for="2" class="carousel__indicator"></label>
        <label for="3" class="carousel__indicator"></label>
        <label for="4" class="carousel__indicator"></label>
        <label for="5" class="carousel__indicator"></label>
    </div>
</div>